solutions/ContosoCoffee/Workflows/Newmachineapprovalrequest-941F1B50-C974-F011-B4CB-002248158EE2.json
{
  "properties": {
    "connectionReferences": {
      "shared_approvals": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "contoso_sharedapprovals_9e6b4"
        },
        "api": {
          "name": "shared_approvals"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "contoso_sharedcommondataserviceforapps_06824"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "contoso_sharedoffice365_7623d"
        },
        "api": {
          "name": "shared_office365"
        }
      },
      "shared_teams": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedteams_a593a"
        },
        "api": {
          "name": "shared_teams"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "528bf092-83a5-4ba7-8b06-9109c845dac6"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "contoso_machineorder",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/name": "941f1b50-c974-f011-b4cb-002248158ee2:MTA"
            },
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            }
          }
        }
      },
      "actions": {
        "Start_and_wait_for_an_approval": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "be7574e8-4196-4886-8e1c-c4392cf2f89c"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "approvalType": "Basic",
              "WebhookApprovalCreationInput/title": "New machine request for @{triggerOutputs()?['body/contoso_machinename']}",
              "WebhookApprovalCreationInput/assignedTo": "@{triggerOutputs()?['body/contoso_approver']};",
              "WebhookApprovalCreationInput/details": "A new machine has been requested\n@{triggerOutputs()?['body/contoso_machinename']}, $@{triggerOutputs()?['body/contoso_price']}\nDepartment Contribution: $@{triggerOutputs()?['body/contoso_departmentcontribution']}\nComments: @{triggerOutputs()?['body/contoso_comments']}",
              "WebhookApprovalCreationInput/requestor": "@triggerOutputs()?['body/contoso_requestedby']",
              "WebhookApprovalCreationInput/enableNotifications": true,
              "WebhookApprovalCreationInput/enableReassignment": true
            },
            "host": {
              "connectionName": "shared_approvals",
              "operationId": "StartAndWaitForAnApproval",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals"
            }
          }
        },
        "Condition": {
          "actions": {
            "Update_a_row": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "f9909d21-2995-4821-8dc3-47a9a154e9e9"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "contoso_machineorders",
                  "recordId": "@triggerOutputs()?['body/contoso_machineorderid']",
                  "item/contoso_approvalstatus": 330650000,
                  "item/contoso_approveddate": "@utcNow()"
                },
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateOnlyRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                }
              }
            },
            "Send_an_email_(V2)": {
              "runAfter": {
                "Update_a_row": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6d674eea-b90c-41aa-b18f-4a47a88fed93"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365",
                  "operationId": "SendEmailV2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                },
                "parameters": {
                  "emailMessage/To": "@outputs('Update_a_row')?['body/contoso_requestedby']",
                  "emailMessage/Subject": "Your machine order has been approved!",
                  "emailMessage/Body": "<p class=\"editor-paragraph\">Your machine has been approved @{triggerOutputs()?['body/contoso_machinename']}</p><p class=\"editor-paragraph\">Estimated ship date: @{outputs('Update_a_row')?['body/contoso_estimatedshipdate']}</p><p class=\"editor-paragraph\">@{outputs('Start_and_wait_for_an_approval')?['body/responseSummary']}</p>",
                  "emailMessage/Importance": "Normal"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Post_message_in_a_chat_or_channel_1": {
              "runAfter": {
                "Send_an_email_(V2)": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e2585830-3a52-4d36-b186-120f0c9e2de0"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "poster": "Flow bot",
                  "location": "Chat with Flow bot",
                  "body/recipient": "@triggerOutputs()?['body/contoso_requestedby']",
                  "body/messageBody": "<p class=\"editor-paragraph\">Your machine was approved @{triggerOutputs()?['body/contoso_machinename']}</p><p class=\"editor-paragraph\">Estimated Ship Date: @{outputs('Update_a_row')?['body/contoso_estimatedshipdate']}</p>"
                },
                "host": {
                  "connectionName": "shared_teams",
                  "operationId": "PostMessageToConversation",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
                }
              }
            }
          },
          "runAfter": {
            "Start_and_wait_for_an_approval": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Update_a_row_1": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "a3a18edc-8ea6-45d0-8d71-91c8eb65123a"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "entityName": "contoso_machineorders",
                    "recordId": "@triggerOutputs()?['body/contoso_machineorderid']",
                    "item/contoso_approvalstatus": 330650001
                  },
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "UpdateOnlyRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  }
                }
              },
              "Send_an_email_(V2)_1": {
                "runAfter": {
                  "Update_a_row_1": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "2f691450-51e5-41cf-ab22-169b6f3c0ef6"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_office365",
                    "operationId": "SendEmailV2",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                  },
                  "parameters": {
                    "emailMessage/To": "@triggerOutputs()?['body/contoso_requestedby']",
                    "emailMessage/Subject": "Your machine was not approved",
                    "emailMessage/Body": "<p class=\"editor-paragraph\">Sorry, your request for @{triggerOutputs()?['body/contoso_machinename']} was not approved</p><p class=\"editor-paragraph\">@{outputs('Start_and_wait_for_an_approval')?['body/responseSummary']}</p>",
                    "emailMessage/Importance": "Normal"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Post_message_in_a_chat_or_channel": {
                "runAfter": {
                  "Send_an_email_(V2)_1": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "fa43221d-a94e-4309-80ee-237d2145f26d"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "poster": "Flow bot",
                    "location": "Chat with Flow bot",
                    "body/recipient": "@triggerOutputs()?['body/contoso_requestedby']",
                    "body/messageBody": "<p class=\"editor-paragraph\">Your machine request for @{triggerOutputs()?['body/contoso_machinename']} was not approved.</p>"
                  },
                  "host": {
                    "connectionName": "shared_teams",
                    "operationId": "PostMessageToConversation",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
                  }
                }
              }
            }
          },
          "expression": {
            "and": [
              {
                "equals": [
                  "@outputs('Start_and_wait_for_an_approval')?['body/outcome']",
                  "Approve"
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "ee3d11c9-2b79-45d2-80fa-549497e7e6a6"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}